{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<div class="mw7 center ph3 pt4">

  {{ range $index, $element := .Params.background }}
    {{ if modBool $index 2 }}
      {{ partial "media-block" $element }}
    {{ else }}
      {{ partial "media-block-reverse" $element }}
    {{ end }}
  {{ end }}
  <div  class ="mb3" style="
    display: grid;
    place-items: center;
  ">
  
    <a href="{{.Params.cv}}" download="Wendy-Anne-Daloz-cv">Download Full CV </a>
  </div>
</div>

{{ end }}
