{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

<!-- {{ partial "short-text" .Params.blurb}} -->

{{ partial "details" (dict "heading" .Params.blurb.heading "text" .Params.blurb.text "details" .Params.details ) }}

{{ partial "2-up" .Params }}

{{ partial "text-and-image" (dict "heading" .Params.background.heading  "image" .Params.background.image "text"  .Params.background.text "buttonText" "Read more" "buttonLink" "/background" ) }}

{{ partial "portfolio" . }}


{{ end }}