{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

<!-- {{ partial "short-text" .Params.blurb}} -->

{{ partial "details" (dict "heading" .Params.blurb.heading "text" .Params.blurb.text "details" .Params.details ) }}

{{ partial "2-up" .Params }}

{{ partial "text-and-image" (dict "heading" .Params.values.heading  "image" .Params.values.image "text"  .Params.values.text "buttonText" "Read more" "buttonLink" "/values" ) }}

{{ partial "blog" . }}

{{ end }}